# settings
# mon 12 02 2018

# Application settings
inputStatsDirectory=Data\\stats
writeOnFs=true
outputStatsDirectory=Data\\parsed
defaultNameKey=innerValue
nameKeyToAvoid=minecraft

# Mongo settings
connectionString=
nameDB=
playersCollection=
statsCollection=
lastStatsCollection=

# FTP settings
# ...